<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Escape Clause
            </h1>
            <p class="lead">Read best selling author John Sanford newest thriller</p>
            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{stripePublishableKey}}"
                    data-amount="1999" data-name="John Sandford-Escape Clause" data-description="Electronic version of a traditional print book for easier consumption and portability"
                    data-image="/images/marketplace.png" data-locale="auto">
                    </script>

            </form>
        </div>

        <div class="col-md-6">
            <img src="/images/book.jpg" class="img-fluid py-5 mt-2 pl-5">
        </div>

    </div>
</section>